[defaults]
inventory = ips.txt
host_key_checking= False
private_key_file=webserver_key.pem
remote_user=ubuntu
[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false